{% extends "base.html" %}
{% block content %}
<form method='post'>
	{% csrf_token %}
	{{ form }}
	<input type='submit' value='Submit'>
</form>
{% endblock %}

<!--{% extends "base.html" %}-->
<!--{% block content %}-->
<!--<form method='post'>-->
<!--	{% csrf_token %}-->
<!--	{{ form.as_p }}-->
<!--	&lt;!&ndash;-->
<!--	{{ form.as_table}}-->
<!--	{{ form.as_ul}}-->
<!--	&ndash;&gt;-->
<!--	<input type='submit' value='Submit'>-->
<!--</form>-->
<!--{% include 'footer.html' %}-->
<!--{% endblock %}-->